{% load static %}
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-5703"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Chúng tôi tin rằng tăng trải nghiệm ảo sẽ tỉ lệ thuận với ham muốn trải nghiệm thật của con người.</p>
      </div>
 </footer>

<section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="{% url 'about' %}" target="_blank">
        <span>HỘI BỎ 50K MUA DEADLINE</span><br>
      </a>
      <p class="u-text">
        <span>tham gia</span>
      </p>
      <a class="u-link" href="#" target="_blank">
        <span>WDS ADVENTURE 2022</span>
      </a>. 
</section>

  </body>
</html>