{% load static %}

<header class="u-clearfix u-header u-header" id="sec-1273"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="{% url 'home' %}" class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40">
          <img src="{% static 'images/logo.png' %}" class="u-logo-image u-logo-image-1">
        </a>

        <nav class="u-align-left u-font-size-14 u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">

              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>

<div class="u-custom-menu u-nav-container">
  <ul class="u-nav u-unstyled u-nav-1">
    <li class="u-nav-item">
      <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'home' %}" style="padding: 10px 20px;">Home</a>
    </li>
    <li class="u-nav-item">
      <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'about' %}" style="padding: 10px 20px;">About</a>
    </li>
    <li class="u-nav-item">
      <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 10px 20px;" href="#blog-main">Blog</a>
    </li>
  </ul>
</div>

<div class="u-custom-menu u-nav-container-collapse">
  <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
    <div class="u-sidenav-overflow">
      <div class="u-menu-close"></div>
        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
          <li class="u-nav-item">
            <a class="u-button-style u-nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="u-nav-item">
            <a class="u-button-style u-nav-link" href="{% url 'about' %}">About</a></li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#blog-main">Blog</a>
          </li>
        </ul>
    </div>
  </div>
  <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
</div>
      </nav>
    </div>
  </header>