{% extends 'base.html' %}

{% load static %}
{% block content %}

    <section class="u-align-center u-clearfix u-grey-15 u-section-1" id="carousel_0c92">

      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-montserrat u-text u-text-palette-1-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="250">BẮT ĐẦU THAM QUAN</h2>

        <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="250">Cùng Huế 1 chạm tham quan những địa điểm du lịch nổi tiếng nhé! </p>

        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">

          	<!-- Khung 1 --->
            {% for sightseeing in sightseeings %}
              <div class="u-align-center u-border-9 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-1-base u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-direction="" data-animation-delay="250">
              
                <div class="u-container-layout u-similar-container u-container-layout-1">

                  <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-round u-radius-50 u-image-1" alt="" data-image-width="407" data-image-height="407" src="{{ sightseeing.images.url }}">

                  <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3">

                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="{{ sightseeing.get_url }}" data-page-id="20328349">{{sightseeing.sight_name}}</a>

                  </h4>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>

{% endblock %}